// 加载核心样式库
@import './fn.less';

html{
	overflow:hidden;
}
body{
	color:white;
	overflow:hidden;
	background:url(../images/bg.png) center fixed;
}
.hide{
	display:none;
}
.layout-box{
	width:100%;
	height:400%;
	position:relative;
	.fn_transition(transform 0.7s ease);
}
.layout-container{
	display:table-cell;
	vertical-align:middle;
	padding:0 10%;
}

// 通用样式
section{
	display:table;
	width:100%;
	height:25%;

	h2{
		font-size:30px;
		text-align:center;
		margin-bottom:60px;
		opacity:0;
		.fn_transition(all 0.6s cubic-bezier(1,-0.65, 0.66, 1.29));
		.fn_transform(translateX(-100%));

		&:before, &:after{
			content: '';
			display:block;
			width:20%;
			height:1px;
			background:white;
			margin-top:14px;
		}
		&:before{
			float:left;
		}
		&:after{
			float:right;
		}
	}
}

// 个人介绍
#introduce{
	figure{
		width:70%;
		border:2px solid white;
		border-radius:50%;
		margin:0 auto;
		// .fn_animation(repeat-rotate 9s linear infinite);

		&:after{
			.fn_clear();
		}
	}
	img{
		width:90%;
		height:90%;
		float:left;
		margin:5%;
	}
	.layout-content{
		margin-top:32px;
	}
	p{
		text-align:center;
		font-size:15px;
		line-height:150%;
		opacity:0;
		.fn_transform(translateY(15px));
		.fn_transition(all 0.6s);
	}
}

// 掌握技能
#skill{
	li{
		margin-top:5px;
		opacity:0;
		.fn_transform(translateY(15px));
		.fn_transition(all 0.6s);

		&:after{
			.fn_clear();
		}
	}
	em{
		display:inline-block;
		width:53px;
		height:100%;
		float:left;
		font-size:17px;
	}
	span{
		display:block;
		font-size:16px;
		line-height:130%;
		padding-left:53px;
	}
	p{
		color:#8f0000;
		text-align:center;
		line-height:130%;
		margin-top:40px;
		opacity:0;
		.fn_transform(scale(0));
		.fn_transition(all 0.6s);
	}
}

// 工作经历
#workexp{
	li{
		border-top:1px solid rgba(255,255,255,0.5);
		margin-top:20px;
		opacity:0;
		.fn_transform(rotateY(90deg));
		.fn_transition(all 0.6s);

		&:first-child{
			border-top:none;
		}
	}
	time{
		display:block;
		font-size:17px;
		margin-top:20px;
	}
	b{
		display:block;
		font-size:17px;
		padding:10px 0;
	}
	span{
		font-size:15px;
		line-height:140%;
	}
}

// 项目经验
#experience{
	ul{
		&:after{
			.fn_clear();
		}
	}
	li{
		width:120px;
		height:120px;
		border:3px solid white;
		border-top-color:red;
		border-bottom-color:red;
		border-radius:50%;
		float:left;
		margin-top:30px;
		-o-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;
		transform-style:preserve-3d;
		-o-perspective:100px;
		-ms-perspective:100px;
		-moz-perspective:100px;
		-webkit-perspective:100px;
		perspective:100px;
		// .fn_animation(repeat-rotate 4s linear infinite);
		
		&:nth-child(1){
			margin-top:0;
		}
		&:nth-child(2){
			margin-top:0;
			float:right;
		}
		&:nth-child(4){
			float:right;
		}
	}
	figure{
		width:90%;
		height:90%;
		margin:5%;
		// .fn_animation(repeat-rotate-y 3s linear alternate infinite);	
	}
	p{
		font-size:14px;
		line-height:130%;
		margin-top:32px;
		text-align:center;
	}
}

// 切换框
article.switch-box{
	position:fixed;
	top:50%;
	margin-top:-48px;
	right:10px;

	li{
		width:14px;
		height:14px;
		border-radius:50%;
		margin-top:10px;
		border:1px solid rgba(255,255,255,0.9);
		box-sizing:border-box;
	}
	li.sel{
		background:rgba(255,255,255,0.9);
	}
}


// 动画
// 重复旋转动画
@-o-keyframes repeat-rotate{
	0%{
		-o-transform:rotate(0deg);
	}
	100%{
		-o-transform:rotate(360deg);
	}
}
@-ms-keyframes repeat-rotate{
	0%{
		-ms-transform:rotate(0deg);
	}
	100%{
		-ms-transform:rotate(360deg);
	}
}
@-moz-keyframes repeat-rotate{
	0%{
		-moz-transform:rotate(0deg);
	}
	100%{
		-moz-transform:rotate(360deg);
	}
}
@-webkit-keyframes repeat-rotate{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}
@keyframes repeat-rotate{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

// 重复旋转动画y1
@-o-keyframes repeat-rotate-y{
	0%{
		opacity:1;
		-o-transform:rotateY(0deg) scale(1);
	}
	100%{
		opacity:0.5;
		-o-transform:rotateY(360deg) scale(0.6);
	}
}
@-ms-keyframes repeat-rotate-y{
	0%{
		opacity:1;
		-ms-transform:rotateY(0deg) scale(1);
	}
	100%{
		opacity:0.5;
		-ms-transform:rotateY(360deg) scale(0.6);
	}
}
@-moz-keyframes repeat-rotate-y{
	0%{
		opacity:1;
		-moz-transform:rotateY(0deg) scale(1);
	}
	100%{
		opacity:0.5;
		-moz-transform:rotateY(360deg) scale(0.6);
	}
}
@-webkit-keyframes repeat-rotate-y{
	0%{
		opacity:1;
		-webkit-transform:rotateY(0deg) scale(1);
	}
	100%{
		opacity:0.5;
		-webkit-transform:rotateY(360deg) scale(0.6);
	}
}
@keyframes repeat-rotate-y{
	0%{
		opacity:1;
		transform:rotateY(0deg) scale(1);
	}
	100%{
		opacity:0.5;
		transform:rotateY(360deg) scale(0.5);
	}
}